.about-section {
    padding: 80px 20px;
    text-align: center;
    background-color: #f4f7f9;
}

.about-section h2 {
    position: relative;
    margin: auto;
    color: #418447;
    font-weight: bold !important;
    font-family: "Cinzel", serif;
    letter-spacing: 7px !important;
    overflow: hidden;
    white-space: nowrap;
    font-size: 48px;
    max-width: 100%; 
    animation: typewriter 4s steps(44) 1s infinite normal both,
        blinkTextCursor 500ms infinite;

}

/* Adjust the keyframes to work with max-width */
@keyframes typewriter {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #418447;
    }
    to {
        border-right-color: transparent;
    }
}

/* Media Queries */
@media (max-width: 768px) {
    .about-section h2 {
        font-size: 36px; 
    }
}

@media (max-width: 480px) {
    .about-section h2 {
        font-size: 28px; 
    }
}

.about-section p {
    font-size: 18px;
    color: #333;
    text-align: justify;
}

.about-row {
    display: flex;
    margin: auto;
    max-width: 1200px;
    padding: 30px;
    gap: 50px;
}

.about-item {
    display: flex;
    padding: 24px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 2px solid; 
    border-radius: 12px;
    background-color: #fff;
    transform: translateY(-10px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-item:hover {
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2); 
}
@media (max-width: 900px) {
    .about-row {
        display: flex;
        flex-direction: column;
    }
    .about-section p {
        font-size: 14px;
        text-align:center;
    }
}