.about-section {
    padding: 80px 20px;
    text-align: center;
    background-color: #f4f7f9;
}

.about-section h2 {
    position: relative;
    margin: auto;
    color: #418447;
    font-weight: bold !important;
    font-family: "Cinzel", serif;
    letter-spacing: 7px !important;
    overflow: hidden;
    white-space: nowrap;
    font-size: 48px;
    animation: typewriter 4s steps(44) 1s infinite normal both,
        blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
    0% {
        width: 0;
    }
    50% {
        width: 710px;
    }
    100% {
        width: 0;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #418447;
    }
    to {
        border-right-color: transparent;
    }
}

.about-section p {
    font-size: 18px;
    color: #333;
    text-align: justify;
}

.about-row {
    display: flex;
    margin: auto;
    max-width: 1200px;
    padding: 30px;
    gap: 50px;
}

.about-item {
    display: flex;
    padding: 24px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 2px solid; 
    border-radius: 12px;
}
@media (max-width: 900px) {
    .about-row {
        display: flex;
        flex-direction: column;
    }
    .about-section p {
        font-size: 14px;
        text-align:center;
    }
}