.signup .logoContainer {
    position: fixed;
    top: 0px;
    /* left: 20px; */
    padding: 20px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.signup .registrationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: #F2F2F2 1px solid;
    border-radius: 10px;
    padding: 30px;
    margin: 100px auto;
    gap: 20px;
    background-color: '#fff';
}

.signup .formContainer {
    width: 40%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    /* Allow wrapping of input fields */
    justify-content: space-between;
    /* Space between the input pairs */
}

.formContainer .signupP {
    color: #418447;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.animationContainer img {
    width: 500px;
    border-radius: 10px;
}

.animationContainer .hover-effect {
    transition: transform 0.3s ease;
}

.animationContainer .hover-effect:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #418447;
}

.signup .formContainer .btnContainer {
    text-align: center;
}

.signup .formContainer button {
    background-color: #418447;
    color: #eee;
    text-align: center;
    margin: auto;
    min-width: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup .formContainer button:hover {
    background-color: #eee;
    color: #418447;
    border: 1px solid #418447;
}

.signupP {
    color: #418447;;
    font-size: 2rem !important;
    font-weight: bold !important;
    font-family: monospace;
    letter-spacing: 7px !important;
    text-transform: uppercase;
    background: linear-gradient(to right, #3b7f3b 0%, #ffffff 10%, #3b7f3b 20%); /* Modified gradient colors */
    -webkit-background-clip: text; 
    background-clip: text; 
    -webkit-text-fill-color: transparent; 
    animation: shine 3s infinite linear;
}

/* Animation for the shine effect */
@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 600px;
    }
    100% {
        background-position: 600px;
    }
}