.signup .logoContainer {
    position: fixed;
    top: 0px;
    /* left: 20px; */
    padding: 20px;
    z-index: 9999;
    width: 100vh;
    background-color: rgb(255, 255, 255);
}

.signup .registrationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: #F2F2F2 1px solid;
    border-radius: 10px;
    padding: 30px;
    margin: 100px auto;
    gap: 20px;
    background-color: #f2fff2;
}

.signup .formContainer {
    /* max-width: 800px; */
    width: 90%;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formContainer .signupP {
    color: #418447;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.animationContainer img {
    width: 500px;
    border-radius: 10px;
}

.animationContainer .hover-effect {
    transition: transform 0.3s ease;
}

.animationContainer .hover-effect:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #418447;
}

.signup .formContainer .btnContainer {
    text-align: center;
}

.signup .formContainer button {
    background-color: #418447;
    color: #eee;
    text-align: center;
    margin: auto;
    min-width: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup .formContainer button:hover {
    background-color: #eee;
    color: #418447;
    border: 1px solid #418447;
}

.signupP {
    color: #418447;
    ;
    font-size: 1.5rem;
    font-weight: bold !important;
    font-family: monospace;
    letter-spacing: 7px;
    text-transform: uppercase;
    background: linear-gradient(to right, #3b7f3b 0%, #ffffff 10%, #3b7f3b 20%);
    /* Modified gradient colors */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

.registrationForm {
    width: 90%;
    margin: auto;
}

.registrationForm .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

/* Animation for the shine effect */
@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 600px;
    }

    100% {
        background-position: 600px;
    }
}

/* @media (max-width: 830px) {
    .signup .registrationContainer {
        width: 95%;
        padding: 10px;
        gap: 10px;
    }

}
@media (max-width: 750px) {
    .signup{
        width: 100vw;
    }
    .signup .registrationContainer {
        width: 100vw;
        padding: 0;
        gap: 0;
    }
} */
@media (max-width: 1050px) {
    .signup .registrationContainer {
        width: 100%;
        padding: 10px;
        gap: 10px;
    }

    .signup .formContainer .signupP {
        font-size: 1.5rem;

    }
    
}

@media (max-width: 750px) {
    .signup {
        width: 100vw;
    }

    .signup .registrationContainer {
        width: 100vw;
        padding: 0;
        gap: 0;
        flex-direction: column;
        margin: 20px auto;
    }

    .signup .formContainer {
        width: 90%;
        padding: 15px;
    }

    .signup .formContainer .signupP {
        font-size: 1.5rem;

    }

    .signup .formContainer button {
        min-width: 50%;
        padding: 10px;
    }
}

/* Adjustments for mobile devices (max-width: 500px) */
@media (max-width: 500px) {
    .signup .formContainer .signupP {
        font-size: 1rem !important;
        text-align: left;
        letter-spacing: 2.5px;
    }

    .signup .logoContainer img {
        width: 70px;
        /* Smaller logo */
    }

    .signup .registrationContainer {
        width: 100vw;
        margin: 10px auto;
        /* Reduce margins further */
        padding: 5px;
    }

    .signup .formContainer {
        width: 100%;
        padding: 10px;
    }

    .signup .formContainer .form-control {
        width: 90%;
        /* padding: 20px; */
    }

    .phone-input-container {
        flex-wrap: wrap;
    }

    .signup .formContainer .phone-number-input {
        /* width: 50%; */
        flex: none;
        /* padding: 20px; */

    }

    .signup .animationContainer {
        display: flex;
        justify-content: flex-start;
    }

    .animationContainer iframe {
        width: 80%;
        height: 200px;
    }

    .signup .formContainer .signupP {
        font-size: 1.4rem;
    }

    .signup .formContainer button {
        width: 70%;
        padding: 10px;
    }
}