
.calender .card-body .card-link {
  display: inline-block;
  padding: 8px 12px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #418447;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  width: fit-content;
}

.calender .card-body .card-link:hover {
  background-color: #418447;
}

.homeStudent .responsive-iframe {
  width: 700px;
  height: 700px;
  border: none;
}

@media (max-width: 768px) {
  .homeStudent h2,.studentHeader {
    font-size: 1.5rem;
  }

  .homeStudent .responsive-iframe {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 500px) {
  .homeStudent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .homeStudent h2,.calender .studentHeader,
  .homeStudent span {
    font-size: 1.2rem !important;
  }

  .homeStudent .responsive-iframe {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}