.edit-btn-advertiser {
    display: block;           
    width: 30%;               
    margin: 20px auto;        
    padding: 10px 20px;       
    font-size: 16px;          
    background-color: #4CAF50; 
    color: white;            
    border: none;            
    border-radius: 5px;      
    text-align: center;       
}