/* Container for all the forms */
.logoContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.forgetContainer {
    display: flex;
    /* height: 100vh; */
    background-color: rgb(255, 255, 255);
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    border: #F2F2F2 2px solid;
    border-radius: 10px;
    margin: 100px auto;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.forgot-password-form {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    box-sizing: border-box;
}

/* Form heading */
.forgot-password-form h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #418447;
    /* Consistent color */
    text-align: center;
}

/* Input fields styling */
.forgot-password-form input[type="email"],
.forgot-password-form input[type="text"],
.forgot-password-form input[type="password"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

/* Button styling */
.forgot-password-form button {
    width: 100%;
    padding: 12px;
    background-color: #418447;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.forgot-password-form button:hover {
    color: #418447;
    background-color: white;
    border: #418447 1px solid;
}

/* Error message styling */
.forgot-password-form p {
    color: #e74c3c;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

/* Success message styling */
.forgot-password-form .success-message {
    color: #418447;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 630px) {
    .forgetContainer {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: center;
        margin: auto;
        min-height: 100vh;
        min-width: 460px;
        margin-top: 60px;
    }
}